<div class="container" ng-init="showEmployee()">
  <h2 style="margin-left: 20%;">Employee Update</h2>
  <br />
  <form ng-submit="updateEmployee(employee)" class="form-horizontal">
    <div class="form-group form-group-sm">
      <label class="col-sm-2 control-label" for="sm">Name</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" id="name" ng-model="employee.name">
      </div>
    </div>
     <div class="form-group form-group-sm">
      <label class="col-sm-2 control-label" for="sm">Email</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" id="email" ng-model="employee.email">
      </div>
    </div>
     <div class="form-group form-group-sm">
      <label class="col-sm-2 control-label" for="sm">Phone</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" id="phone" ng-model="employee.phone">
      </div>
    </div>
     <div class="form-group form-group-sm">
      <label class="col-sm-2 control-label" for="sm">Password</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" id="password" ng-model="employee.password">
      </div>
    </div>
    <button style="margin-left: 20%;" type="submit" class="btn btn-success">Update</button>
		<a ng-href="#/employees" class="btn btn-danger">Close</a>
  </form>
</div>