<h3 align="center">Employee List</h3>
<br />
<table class="table table-bordered" ng-init="getEmployees()">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="emp in employee">
            <td>{{ emp.name }}</td>
            <td>{{ emp.email }}</td>
            <td>{{ emp.phone }}</td>
            <td>
                <a href="#/employees/{{ emp.id }}/show" class="btn btn-info">Show</a>
                <a ng-href="#/employees/{{ emp.id }}/edit" class="btn btn-success">Edit</a>
                <a ng-click="deleteEmployee(emp.id)" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </tbody>
</table>